<web-app>
   <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.UserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCourseServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.RemoveCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSearchServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.CourseSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseRosterServlet</servlet-name>
        <servlet-class>com.johnnyconsole.attendance.servlet.GetCourseRosterServlet</servlet-class>
    </servlet>
</web-app>